<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">

<nav class="navbar navbar-default navbar-dark bg-primary">
  <div class="container-fluid">
      <li class="active">
        <a routerLink="list" routerLinkActive="active" class="btn">Listar livros</a>
        <a routerLink="create" routerLinkActive="active" class="btn">Adicionar novo Livro</a>
      </li>    
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>