<div class="container">
  <h2>{{title}}</h2>
  <p>Listando livros em ordem alfabética</p>            
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>código</th>
        <th>Título</th>
        <th>Editar</th>
        <th>Apagar</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let livro of data">
        <tr>
          <td>{{livro.codigo}}</td>
          <td>{{livro.titulo}}</td>
          <td><button (click)="onEditarItem($event, livro.codigo, livro.titulo)" class="btn">Editar</button></td>
          <td><button (click)="onClickItem($event,livro.codigo)" class="btn">Apagar</button></td>
        </tr>
      </ng-container>
      </tbody>
  </table>
</div>