<div class="panel panel-primary">
    <div class="panel-heading">
      {{ title }}
    </div>
    <div class="panel-body">
      <form #form="ngForm" (ngSubmit)="OnSubmit()">
        <div class="form-group">
          <label class="col-md-4">Titulo livro</label>
          <input type="text" class="form-control" name="Titulo" [(ngModel)]="Titulo"/>
        </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
      </form>
    </div>
  </div>